<h1>Home#news</h1>
<p>Find me in app/views/home/news.html.erb</p>

<table>
  <tr>
    <th>name</th>
    <th><h1>gender</h1></th>
  </tr>
  <tr>
    <td>tsechingho</td>
    <td>male</td>
  </tr>
</table>
