<%= link_to 'go to f', '#f' %> |
<%= link_to 'google', 'http://google.com' %>

<div class="speaker">
  <h1>Home#speaker</h1>
  <p>Find me in app/views/home/speaker.html.erb</p>

<table>
  <tr>
    <th>name</th>
  </tr>
  <tr>
    <td>tsechingho</td>
  </tr>
</table>

<h1 id="a">a</h1>

<h1 id="b">b</h1>

<h1>c</h1>

<h1>d</h1>

<h1>e</h1>

<h2 id="f">f</h2>

<h2>g</h2>

<h2 id="i">i</h2>

</div>

